<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">

            <!-- <a class="profile-photo" href="/"></a> -->

            <h1>
                <a href="/">
                    {{ site.title }}
                </a>
            </h1>

            <!-- <p class="lead">{{ site.description }}</p> -->
        </div>

        <nav class="sidebar-nav">
            <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="/">The Journey</a>
            <a class="sidebar-nav-item{% if page.url == '/the-racer.html' %} active{% endif %}" href="/the-racer">The Racer</a>
            <a class="sidebar-nav-item{% if page.url == '/the-vehicle.html' %} active{% endif %}" href="/the-vehicle">The Vehicle</a>
            <a class="sidebar-nav-item{% if page.url == '/expenses.html' %} active{% endif %} a-little-space-above" href="/expenses">Expenses</a>
            <a class="sidebar-nav-item{% if page.url == '/contact.html' %} active{% endif %}" href="/contact">Contact</a>
            <span class="sidebar-nav-item social-icons extra-space-above">
                <a href="https://fb.me/iandoesracing" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://instagram.com/iandoesracing" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/iandoesracing" target="_blank"><i class="fab fa-twitter"></i></a>
            </span>
        </nav>
    </div>
</div>
