<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">

            <a class="profile-photo" href="/"></a>

            <h1>
                <a href="/">
                    {{ site.title }}
                </a>
            </h1>
        </div>

        <nav class="sidebar-nav">
            <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="/">The Journey</a>
            <a class="sidebar-nav-item{% if page.url == '/2020/02/01/here-we-go-again.html' %} active{% endif %}" href="/2020/02/01/here-we-go-again.html">The Goal</a>
            <a class="sidebar-nav-item{% if page.url == '/2020/02/05/ians-ride.html' %} active{% endif %}" href="/2020/02/05/ians-ride.html">The Bike</a>
            <!-- space -->
            <a class="sidebar-nav-item{% if page.url == '/contact.html' %} active{% endif %} a-little-space-above" href="/contact">Contact</a>
            <span class="sidebar-nav-item social-icons extra-space-above">
                <a href="https://fb.me/iandoesracing" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://instagram.com/iandoesracing" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/iandoesracing" target="_blank"><i class="fab fa-twitter"></i></a>
            </span>
        </nav>
    </div>
</div>
