html, .pagination {
    font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

code, pre {
    font-family: "IBM Plex Mono", Menlo, Monaco, "Courier New", monospace;
}

pre {
    font-size: 0.7rem;
    overflow-x: auto;
    white-space: pre;
}

.gist .gist-file {
    font-family: "IBM Plex Mono", Menlo, Monaco, "Courier New", monospace !important;
}

.related-posts li small {
    font-size: 65%;
    color: #999;
    font-weight: 400;
}

.sidebar-about h1 {
    font-family: Bangers, "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 4.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
}

.sidebar-about h1 a:hover {
    text-decoration: none;
}

span.pagination-item {
    display: block;
    padding: 1rem;
    border: none;
}

.license {
    display: block;
    float: left;
}

.a-little-space-above {
    margin-top: 1rem;
}

.extra-space-above {
    margin-top: 2rem;
}

ul > li {
    list-style: square;
}

.related-posts li {
    list-style: none;
}

.social-icons a {
    padding-right: 0.5rem;
}

.profile-photo {
    display: block;
    background-image: url(/assets/img/ianc-200.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 200px; /* this is the size of the image */
    height: 200px;
    margin: 0 auto;
}

.headimg-right-10rem {
    width: 10rem;
    display: block;
    margin: 1rem auto;
}

@media (min-width: 48em) {
    .headimg-right-10rem {
        width: 10rem;
        float: right;
        margin-top: 0.5rem;
        margin-right: 0;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
}

.lead {
    font-size: 1.25rem;
    font-weight: 400;
}

.content abbr {
    text-decoration: none;
    text-transform: inherit;
    font: inherit;
}

/* red/gray color theme */
.theme-base-08-gray .sidebar {
    background-color: #2e2e2e;
}
.theme-base-08-gray .content a,
.theme-base-08-gray .related-posts li a:hover,
.theme-base-08-gray .content abbr {
    color: #ac4142;
}